# Server Port (Railway automatically sets PORT)
PORT=3000

# Bot Prefix Settings
# DM Chat prefixes can be any or empty. Group prefixes are restricted to allowed ones.
DEFAULT_PREFIX=!
DEFAULT_COUNTRY_CODE=94

# Bot Owner Info
OWNER_NUMBER=94722666467
BOT_NAME=Netzee Bot v2.0
